<?xml version="1.0" encoding="UTF-8"?>
<web-app version="3.1" xmlns="http://xmlns.jcp.org/xml/ns/javaee" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://xmlns.jcp.org/xml/ns/javaee http://xmlns.jcp.org/xml/ns/javaee/web-app_3_1.xsd">
    <servlet>
        <servlet-name>agregarCliente</servlet-name>
        <servlet-class>BLL.agregarCliente</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>agregarTarjeta</servlet-name>
        <servlet-class>BLL.agregarTarjeta</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>obtenerDestino</servlet-name>
        <servlet-class>BLL.obtenerDestino</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>obtenerOrigen</servlet-name>
        <servlet-class>BLL.obtenerOrigen</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>obtenerCliente</servlet-name>
        <servlet-class>BLL.obtenerCliente</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>obtenerRuta</servlet-name>
        <servlet-class>BLL.obtenerRuta</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>eliminarReserva</servlet-name>
        <servlet-class>BLL.eliminarReserva</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>elegirViaje</servlet-name>
        <servlet-class>BLL.elegirViaje</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>agregarPasajeros</servlet-name>
        <servlet-class>BLL.agregarPasajeros</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>agregarCompra</servlet-name>
        <servlet-class>BLL.agregarCompra</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>eliminarTarjeta</servlet-name>
        <servlet-class>BLL.eliminarTarjeta</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>eliminarSesion</servlet-name>
        <servlet-class>BLL.eliminarSesion</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>obtenerHorario</servlet-name>
        <servlet-class>BLL.obtenerHorario</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>finalizarViaje</servlet-name>
        <servlet-class>BLL.finalizarViaje</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>anularReserva</servlet-name>
        <servlet-class>BLL.anularReserva</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>agregarCliente</servlet-name>
        <url-pattern>/agregarCliente</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>agregarTarjeta</servlet-name>
        <url-pattern>/agregarTarjeta</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>obtenerDestino</servlet-name>
        <url-pattern>/obtenerDestino</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>obtenerOrigen</servlet-name>
        <url-pattern>/obtenerOrigen</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>obtenerCliente</servlet-name>
        <url-pattern>/obtenerCliente</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>obtenerRuta</servlet-name>
        <url-pattern>/obtenerRuta</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>eliminarReserva</servlet-name>
        <url-pattern>/eliminarReserva</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>elegirViaje</servlet-name>
        <url-pattern>/elegirViaje</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>agregarPasajeros</servlet-name>
        <url-pattern>/agregarPasajeros</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>agregarCompra</servlet-name>
        <url-pattern>/agregarCompra</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>eliminarTarjeta</servlet-name>
        <url-pattern>/eliminarTarjeta</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>eliminarSesion</servlet-name>
        <url-pattern>/eliminarSesion</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>obtenerHorario</servlet-name>
        <url-pattern>/obtenerHorario</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>finalizarViaje</servlet-name>
        <url-pattern>/finalizarViaje</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>anularReserva</servlet-name>
        <url-pattern>/anularReserva</url-pattern>
    </servlet-mapping>
    <session-config>
        <session-timeout>
            30
        </session-timeout>
    </session-config>
    <welcome-file-list>
        <welcome-file>index.jsp</welcome-file>
    </welcome-file-list>
</web-app>
